
<h1>
  Create New Contact
</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="o-Flex o-Flex--split@s u-Mbm">
    <div class="o-Flex__item">
      <div class="c-InputContainer">
        <label class="c-Label" for="firstName">
          First Name
        </label>
        <input class="c-Input" type="text" formControlName="firstName" required>
      </div>
      
      <div class="c-InputContainer">
        <label class="c-Label" for="lastName">
          Last Name
        </label>
        <input class="c-Input" type="text" formControlName="lastName" required>
      </div>
      
      <div class="c-InputContainer">
        <label class="c-Label" for="company">
          Company
        </label>
        <input class="c-Input" type="text" formControlName="company" required>
      </div>
    </div>

    <div class="o-Flex__item">
      <div class="c-InputContainer">
        <label class="c-Label" for="email">
          Email
        </label>
        <input class="c-Input" type="text" formControlName="email" name="email">
        <p *ngIf="email.errors?.required && email.touched">Please enter an email address.</p>
        <p *ngIf="email.errors?.email && email.touched">Please enter a correct email address.</p>
      </div>
      
      <div class="c-InputContainer">
        <label class="c-Label" for="phone">
          Phone  
        </label>
        <input class="c-Input" type="text" formControlName="phone" required>
      </div>
      
      <div class="c-InputContainer">
        <label class="c-Label" for="address">
          Address
        </label>
        <input class="c-Input" type="text" formControlName="address" required>
      </div>
    </div>
  </div>
  
  <div class="o-Flex o-Flex--center-column o-Flex--small">
    <button class="o-Flex__item c-Button" type="submit">
      Save
    </button>
    <a class="o-Flex__item c-Link" routerLink="/">Cancel</a>
  </div>
</form>

<div class="c-ContactDetail" *ngIf="hasSubmitted" >
  <h2>
    Contact Detail
  </h2>
  <p>
    {{ firstNameDetail }} {{ lastNameDetail }}
  </p>

  <p>
    {{ companyDetail }}
  </p>
  <p>
    <a class="c-Link--special" href="mailto:{{ emailDetail }}">
      {{ emailDetail }}
    </a>
  </p>
  <p>
    {{ phoneDetail }}
  </p>
  <p>
    {{ addressDetail }}
  </p>
</div>