<div class="c-PageNavigation">
  <h1>
    Contact List
  </h1>
  <a class="c-Button" routerLink="/new-contact">
    + New Contact
  </a>
</div>

<div class="c-TableContainer">
  <table class="c-Table">
    <thead>
      <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Company
        </th>
        <th>
          Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contactInfo" >
        <td>
          {{ item.firstName }}
        </td>
        <td>
          {{ item.lastName }}
        </td>
        <td>
          {{ item.company }}
        </td>
        <td>
          {{ item.email }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
